
    body {
        background: linear-gradient(to bottom right, #FFC0CB, #FF69B4);
      }

.container{
    height: 700px;
    width: 500px;
    border: solid;
    display: flex;
    margin: auto;
    background:  url("cherie.jpg"); 
    background-size: cover;
}

@media (max-width:515px) {
    .container{
        border:none;
     
    }
    body {
        background: url("cherie.jpg");
        background-size:cover ;
        background-position: left;
    }
}

@media (max-width:468px){
    body {
        background-image: url('cherie.jpg');
        background: linear-gradient(to bottom right, #FFC0CB, #FF69B4);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: contain;
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}